mixin form-feedback({title, buttonClass} = {})
	form.form-feedback.grid(
		action=""
		novalidate
		x-data="formFeedback"
		x-on:submit="submit"
	)&attributes(attributes)
		.form-feedback__header.column-span-12
			h2.form-feedback__title!= title

		.form-feedback__main.grid.column-span-12
			.column-span-3.column-span-4-lg-down.column-span-12-md-down
				+form-field().form-feedback__field(
					name="name"
					required
					placeholder="Ваше имя"
					x-on:input="validate"
				)
			.column-span-3.column-span-4-lg-down.column-span-12-md-down
				+form-field().form-feedback__field(
					type="tel"
					name="phone"
					required
					placeholder="Ваш Телефон"
					x-on:input="validate"
				)
			.column-span-3.column-span-4-lg-down.column-span-12-md-down
				+form-field().form-feedback__field(
					type="email"
					name="email"
					required
					placeholder="Ваш E-mail"
					x-on:input="validate"
				)
			.column-span-9.column-span-12-lg-down
				+form-field({tag: 'textarea'}).form-feedback__field(placeholder="Ваше сообщение")

		.form-feedback__footer.grid.column-span-12
			.column-span-6.column-span-12-md-down
				+form-check()(
					name="agree"
					required
					x-on:change="validate"
				) Я согласен с #[a(href="") условиями обработки персональных данных]
			.column-span-3.column-span-6-lg-down.column-span-12-md-down
				+button({content: "'Отправить'"}).form-feedback__button(
					class=buttonClass
					type="submit"
					x-bind:disabled="isSubmit"
				)
			.form-feedback__message.column-span-9.column-span-12-lg-down(
				x-bind:class=`{
					'is-success': success,
					'is-error': error,
				}`
				x-show="success || error"
				x-html="success ? 'Ваше сообщение успешно отправлено!' : error"
				x-transition.opacity
			)
