mixin integration()
	.integration&attributes(attributes)
		.container
			a.integration__body(
				href=""
				target="_blank"
			)
				img(
					src="../../images/content/w.jpg"
					srcset="../../images/content/w@2x.jpg 2x"
					alt=""
				).integration__image
