mixin infographic
	-
		let items = [
			{
				title: 'Выигранных грантов',
				number: '12500',
			},
			{
				title: 'Участников ежегодно',
				number: '3500',
			},
			{
				title: 'Выигранных грантов',
				number: '12500',
			},
			{
				title: 'Участников ежегодно',
				number: '3500',
			},
			{
				title: 'Выигранных грантов',
				number: '12500',
			},
			{
				title: 'Участников ежегодно',
				number: '3500',
			},
		];

	.infographic(
		x-data="infographic(false)"
		x-effect="effect"
		x-bind:class="{'has-swiper': hasSwiper}"
	)&attributes(attributes)
		.infographic__body(
			x-bind:class="{swiper: hasSwiper}"
			x-ref="swiper"
		)
			.infographic__grid(x-bind:class="{'swiper-wrapper': hasSwiper}")
				each item in items
					.infographic__item(
						x-data="scoreAnimated"
						x-bind:class="{'swiper-slide': hasSwiper}"
					)
						.infographic__title= item.title
						.infographic__content
							.infographic__number
								div(x-ref="number")= item.number
								div(x-ref="numberAnimated")= item.number
							.infographic__plus(x-ref="plus") +
