mixin date(date1, date2, adaptive = false)
	- date1 = date1.split('.');
	- date2 = date2 && date2.split('.');

	.date(class={'date--adaptive': adaptive})&attributes(attributes)
		time.date__item
			span.date__day-month.date__day-month--start #{date1[0]}.#{date1[1]}
			span.date__year #{date1[2]}

		if date2
			time.date__item
				span.date__day-month.date__day-month--end #{date2[0]}.#{date2[1]}
				span.date__year #{date2[2]}
