mixin review-item({content, image, name, position} = {})
	article.review-item&attributes(attributes)
		.review-item__body(
			x-data="lineClamp"
			x-on:resize.window.debounce="update"
		)
			+content-edited().review-item__content(
				x-ref="content"
				x-bind:class="{'is-clamped': isClamped}"
			)!= content
			+button-expand({
				tag: 'button',
				content: "isClamped ? 'Читать весь отзыв' : 'Свернуть'",
			}).review-item__button(
				x-bind:class="{'button-arrow-down--up': !isClamped}"
				x-show="hasClamp"
				x-on:click="isClamped = !isClamped"
			)
		footer.review-item__footer
			+img-2x().review-item__image(
				src=image
				alt=name
			)
			h3.review-item__name= name
			.review-item__position= position
