mixin button-arrow({tag = 'a', dir = 'right', row = false, content} = {})
	#{tag}.button-arrow(
		class={
			'button-arrow--dir-left': dir === 'left',
			'button-arrow--row': row,
		}
		type=tag === 'button' ? 'button' : null
		href=tag === 'a' ? "" : null
		x-init
	)&attributes(attributes)
		span.button-arrow__icon
			icon-svg(name=`arrow-${dir}`)
		if content
			span.button-arrow__content(x-text=content)
