mixin image-forums()
	.image-forums&attributes(attributes)
		img.image-forums__img-1(src="../../images/design/section/forums/ellipse.svg" alt="")

		.image-forums__ellipses-1
			.image-forums__ellipse-1
			.image-forums__ellipse-2
			.image-forums__ellipse-3

		img.image-forums__img-2(
			src="../../images/design/section/forums/el.png"
			srcset="../../images/design/section/forums/el@2x.png"
			alt=""
		)
		img.image-forums__img-3(
			src="../../images/design/section/forums/people.png"
			srcset="../../images/design/section/forums/people@2x.png"
			alt=""
		)
		img.image-forums__img-4(src="../../images/design/section/forums/cloud-1.svg" alt="")
		img.image-forums__img-5(src="../../images/design/section/forums/cloud-2.svg" alt="")
