mixin docs()
	-
		let docs = [
			{
				type: 'pdf',
				title: 'Заголовок документа для скачивания в две строчки очень длинное',
			},
			{
				type: 'doc',
				title: 'Заголовок документа для скачивания',
			},
			{
				type: 'xls',
				title: 'Заголовок документа',
			},
			{
				type: 'pdf',
				title: 'Заголовок документа для скачивания',
			},
		];

	.docs&attributes(attributes)
		.docs__body(
			x-data="swiperFree"
			x-effect="effect"
			x-bind:class="{swiper: !$store.isDesktop}"
			x-ref="swiper"
		)
			.docs__body-inner(x-bind:class="{'swiper-wrapper': !$store.isDesktop}")
				each doc in docs
					a.docs__item(
						href=""
						x-bind:class="{'swiper-slide': !$store.isDesktop}"
					)
						icon-svg.docs__icon(name=doc.type)
						.docs__title= doc.title
