mixin promo(type, column)
	-
		const promo = {
			projects: {
				title: 'Реализованные<br> проекты',
				image: '../../images/design/promo/projects.png',
			},
			contests: {
				title: 'Победители<br> конкурсов',
				image: '../../images/design/promo/contests.png',
			},
			grants: {
				title: 'Гранты<br> получили',
				image: '../../images/design/promo/grants.png',
			},
		};

		const {title, image} = promo[type];

	.promo(
		class=`promo--${type}`
		class={'promo--column': column}
	)&attributes(attributes)
		.container.promo__grid
			.promo__image
				+picture-webp().promo__image-el(
					src=image
					srcset="2x"
				)
			.promo__body
				.promo__title!= title
				+button-arrow({content: "$store.isDesktop ? 'Смотреть все' : 'Подробнее'"})(
					href=`${type === 'grants' ? `${type}-recipients` : type}.html`
					x-bind:class="{'button-arrow--row': !$store.isDesktop}"
				)
