include ../tags/tags

mixin card-item({url, title, image, date, ref, tags})
	article.card-item&attributes(attributes)
		.card-item__body
			if date || ref
				.card-item__group
					if date
						+date(date).card-item__date

					if ref
						.card-item__ref-title!= ref.title
						img.card-item__ref-image(
							src=ref.image
							srcset=`${ref.image.replace(/\.\w+$/, '@2x$&')} 2x`
							alt=""
						)

			.card-item__title
				a.card-item__link(href=url || "")!=title

			if tags
				+tags(tags).card__tags

		.card-item__image
			img.card-item__image-el(
				src=image
				srcset=`${image.replace(/\.\w+$/, '@2x$&')} 2x`
				alt=""
			)
