mixin card-item({title, image, date, ref})
	a.card-item(href="")&attributes(attributes)
		if date || ref
			.card-item__group
				if date
					+date(date).card-item__date

				if ref
					.card-item__ref-title!= ref.title
					img.card-item__ref-image(
						src=ref.image
						srcset=`${ref.image.replace(/\.\w+$/, '@2x$&')} 2x`
						alt=""
					)

		.card-item__title!=title

		.card-item__image
			img.card-item__image-el(
				src=image
				srcset=`${image.replace(/\.\w+$/, '@2x$&')} 2x`
				alt=""
			)
