include ../card-item/card-item
include ../pagination/pagination

mixin cards(type, last)
	include data

	-
		let [items, isRecipients, isEvents] = data(type, last);

	.cards(x-data="{gridEl: $refs.grid}")&attributes(attributes)
		if last
			.cards__main
				.cards__main-inner(
					x-data="swiperCards"
					x-effect="effect"
					x-bind:class="{swiper: !$store.isDesktop}"
					x-ref="swiper"
				)
					.cards__grid(
						class={
							'cards__grid--columns-4': !isRecipients && !isEvents,
							'cards__grid--columns-3': isRecipients,
							'cards__grid--columns-2': isEvents,
						}
						x-bind:class="{'swiper-wrapper': !$store.isDesktop}"
						x-ref="grid"
					)
						each item in items
							+card-item(item).cards__item(
								class={
									'card-item--style-group-8': !isRecipients && !isEvents,
									'card-item--style-group-6': isRecipients,
									'card-item--style-group-4': isEvents,
								}
								x-bind:class="{'swiper-slide': !$store.isDesktop}"
							)
		else
			.cards__grid.cards__grid--columns-3(x-ref="grid")
				each item in items
					+card-item(item).card-item--style-group-6.cards__item
			+pagination(x-data=`pagination('ajax/${type}.html', gridEl)`)
