include ../card-item/card-item
include ../person-item/person-item
include ../team-item/team-item
include ../pagination/pagination

mixin cards({columns = 3, type, slice, tags = true, pagination = true} = {})
	include data

	-
		let items = data(type, slice, tags);

	.cards(x-data="{gridEl: $root.querySelector('.cards__grid')}")&attributes(attributes)
		.cards__main(x-bind:class=slice ? "{'has-swiper': !$store.isDesktop}" : null)
			.cards__main-inner(
				x-data=slice ? "swiperCards" : null
				x-effect=slice ? "effect" : null
				x-bind:class=slice ? "{swiper: !$store.isDesktop}" : null
				x-ref=slice ? "swiper" : null
			)
				.cards__grid(
					class={
						'grid-lg-up': slice,
						grid: !slice
					}
					x-bind:class=slice ? `{'swiper-wrapper': !$store.isDesktop}` : null
				)
					-
						const itemAttrs = {
							class: slice ? [
								`column-span-${type === 'team' ? 4 : 3}-lg-up`,
								'column-4-lg-down',
								'column-6-md-down',
								'column-10-sm-down',
							] : [
								`column-span-${type === 'team' ? 4 : 3}`,
								'column-span-4-lg-down',
								'column-span-6-md-down',
								'column-span-12-sm-down',
							],
							'x-bind:class': slice ? "{'swiper-slide': !$store.isDesktop}" : null,
						};

					each item in items
						case type
							when 'persons'
								+person-item(item).cards__item&attributes(itemAttrs)
							when 'team'
								+team-item(item).cards__item&attributes(itemAttrs)
							default
								+card-item(item).cards__item(class=`card-item--style-group-${columns * 2}`)&attributes(itemAttrs)

		if pagination
			+pagination({multipage: !slice})(
				class={'hidden-lg-down': slice}
				x-data=`pagination('ajax/${type}${slice ? '-slice' : ''}.html', gridEl)`
			)
