mixin marquee()
	-
		const items = [
			'Научно-техническое творчество',
			'Спорт и ЗОЖ',
			'Культура и творчество',
			'Предпринимательство',
			'Инновационная деятельность',
		];

	.marquee(
		x-data="marquee"
		x-on:mouseenter="$store.isDesktop ? pause : null"
		x-on:mouseleave="$store.isDesktop ? play : null"
	)&attributes(attributes)
		.marquee__container(x-ref="container")
			template(x-for="list in listCount || 1")
				.marquee__list
					each item, index in items
						a.marquee__item(
							href=""
							data-content=item
							x-on:mouseenter="$store.isDesktop ? showTooltip : null"
							x-on:mouseleave="$store.isDesktop ? hideTooltip : null"
						)= item
							.marquee__tooltip.is-hidden
								img.marquee__image(
									src=`../../images/content/directions/dir-${index % 2 > 0 ? 1 : 2}.jpg`
									srcset=`../../images/content/directions/dir-${index % 2 > 0 ? 1 : 2}@2x.jpg`
									alt=""
								)
