include ../soc-network/soc-network
include ../nav/nav

mixin header()
	header.header(
		x-data="header"
		x-bind:class="{'is-sticky': isSticky}"
		x-on:scroll.window="updateStick"
		x-on:resize.window="updateStick(); updateMobMenu();"
	)&attributes(attributes)
		.container.header__mob(x-show="!$store.isDesktop")
			a.header__logo(href="index.html" x-show="!mobMenuIsOpen")
				img(
					src="../../images/design/logo-mob.png"
					srcset="../../images/design/logo-mob.png, ../../images/design/logo-mob@2x.png 2x"
					alt="Молодёжно"
				)
			a.header__visually(href="" x-show="mobMenuIsOpen")
				icon-svg(name="visually")
				| Слабовидящим
			button.header__button-menu(
				x-bind:class="{'is-open': mobMenuIsOpen}"
				x-on:click="toggleMobMenu"
			): span

		.header__main(
			x-show="mobMenuIsOpen || $store.isDesktop"
			x-transition.opacity
			x-ref="main"
		)
			.container.header__grid
				a.header__visually(href="" x-show="$store.isDesktop")
					icon-svg(name="visually")
					| Слабовидящим

				.header__info
					a.header__info-item(href="" target="_blank") Дом&nbsp;молодёжи#[br] Новгородской#[br(class="hidden-lg-up")] области

					a.header__logo(href="index.html" x-show="$store.isDesktop")
						img(
							src="../../images/design/logo.png"
							srcset="../../images/design/logo.png, ../../images/design/logo@2x.png 2x"
							alt="Молодёжно"
							x-show="!isSticky"
						)
						icon-svg(name="logo-sticky" x-show="isSticky")

					a.header__info-item(href="" target="_blank") Администрация#[br] Новгородской#[br(class="hidden-lg-up")] области

				+soc-network().header__soc-network
				+nav().header__nav
