mixin event-item({title, image, date, location})
	a.event-item(
		href=""
		title!=title
	)&attributes(attributes)
		.event-item__image
			img.event-item__image-el(
				src=image
				srcset=`${image.replace(/\.\w+$/, '@2x$&')} 2x`
				alt=""
			)
		.event-item__body
			.event-item__main
				if location
					.event-item__group
						+location(location).event-item__location
				+date(date).event-item__date
				h3.event-item__title!= title
