include ../score/score
include ../events/events
include ../cards/cards

mixin section({tag = 'section', type, title, desc, score, advanced, withoutImage} = {})
	#{tag}.section(
		class=`section--${type}`
		class={
			'section--advanced': advanced,
			'section--without-image': withoutImage,
		}
	)&attributes(attributes)
		.section__bg
			+container()
				.position-relative
					.section__bg-el.section__rellax(
						class=`section__bg-el--${type}`
						data-rellax-speed="-2"
					)

		if !withoutImage
			.section__image(class=`section__image--${type}`)
				.overflow-hidden.section__rellax(data-rellax-speed="0")
					+container()
						+picture-webp().section__image-el(
							src=`../../images/design/section/${type}/back.png`
							srcset="2x"
						)
			.section__image(class=`section__image--${type}`)
				.overflow-hidden.section__rellax(data-rellax-speed="1")
					+container()
						+picture-webp().section__image-el(
							src=`../../images/design/section/${type}/front.png`
							srcset="2x"
						)

		+container('header').section__header
			.section__header-body
				+heading(advanced ? 'h1' : 'h2').section__heading(data-aos="fade-up" data-aos-duration="800")!= title
				if desc
					.section__desc!= desc
				if score
					+score(score).section__score

		.section__main
			if block
				block
			else
				+container()
					case type
						when 'forums'
							+events({
								type,
								slice: 2,
								tags: false,
							})
						when 'playbill'
						when 'news'
							+events({
								type,
								slice: 1,
								tags: false,
							})
						when 'projects'
						when 'contests'
						when 'grants'
							+cards({
								type,
								slice: 4,
								tags: false,
								columns: 4,
							})

		if !block
			+container('footer').section__footer
				+button-arrow({content: "'Смотреть все'"})(
					href=`${type}.html`
					x-bind:class="{'button-arrow--row': !$store.isDesktop}"
				)
