include ../image-forums/image-forums
include ../score/score
include ../events/events

mixin section({type, title, desc, score: {title: scoreTitle, number: scoreNumber}})
	section.section(class=`section--${type}`)&attributes(attributes)
		.section__design
			.container
				.section__design-box
					.section__design-bg(class=`section__design-bg--${type}`)
					case type
						when 'forums'
							+image-forums().section__design-image(class=`section__design-image--${type}`)

		header.container.section__header
			.section__header-body
				h2.heading.section__heading= title
				.section__desc!= desc
				+score(scoreTitle).section__score= scoreNumber

		.section__main
			if block
				block
			else
				case type
					when 'forums'
						+events(type)
