include ../score/score
include ../events/events
include ../projects/projects

mixin section({type, title, desc, score, advanced, withoutImage})
	section.section(
		class=`section--${type}`
		class={
			'section--advanced': advanced,
			'section--without-image': withoutImage,
		}
	)&attributes(attributes)
		.section__bg
			.container
				.position-relative
					.section__bg-el.section__rellax(
						class=`section__bg-el--${type}`
						data-rellax-speed="-2"
					)

		if !withoutImage
			.section__image(class=`section__image--${type}`)
				.overflow-hidden.section__rellax(data-rellax-speed="0")
					.container
						+picture-webp().section__image-el(
							src=`../../images/design/section/${type}/back.png`
							srcset="2x"
						)
			.section__image(class=`section__image--${type}`)
				.overflow-hidden.section__rellax(data-rellax-speed="1")
					.container
						+picture-webp().section__image-el(
							src=`../../images/design/section/${type}/front.png`
							srcset="2x"
						)

		header.container.section__header
			.section__header-body
				#{advanced ? 'h1' : 'h2'}.heading.section__heading(data-aos="fade-up" data-aos-duration="800")= title
				if desc
					.section__desc!= desc
				if score
					+score(score).section__score

		.section__main
			if block
				block
			else
				case type
					when 'forums'
					when 'playbill'
					when 'news'
						+events(type)
					when 'projects'
					when 'contests'
					when 'grants'
						+projects()

		if !block
			footer.container.section__footer
				+button-arrow({content: "'Смотреть все'"})(
					href=`${type}.html`
					x-bind:class="{'button-arrow--row': !$store.isDesktop}"
				)
