include ../score/score
include ../events/events
include ../projects/projects

mixin section({type, title, desc, score})
	section.section(class=`section--${type}`)&attributes(attributes)
		.section__bg
			.container
				.position-relative
					.section__bg-el.section__rellax(
						class=`section__bg-el--${type}`
						data-rellax-speed="-2"
					)
		.section__img(class=`section__img--${type}`)
			.overflow-hidden.section__rellax(data-rellax-speed="0")
				.container
					img(
						src=`../../images/design/section/${type}/back.png`
						srcset=`../../images/design/section/${type}/back@2x.png 2x`
						alt=""
					)
		.section__img(class=`section__img--${type}`)
			.overflow-hidden.section__rellax(data-rellax-speed="1")
					.container
						img(
							src=`../../images/design/section/${type}/front.png`
							srcset=`../../images/design/section/${type}/front@2x.png 2x`
							alt=""
						)

		header.container.section__header
			.section__header-body
				h2.heading.section__heading(data-aos="fade-up" data-aos-duration="800")= title
				.section__desc!= desc
				+score(score).section__score

		.section__main
			if block
				block
			else
				case type
					when 'forums'
					when 'playbill'
					when 'news'
						+events(type)
					when 'projects'
					when 'contests'
					when 'grants'
						+projects()

		footer.container.section__footer
			+more-link({content: "'Смотреть все'"})
