include ../score/score
include ../events/events
include ../projects/projects

mixin section({type, title, desc, score})
	section.section(class=`section--${type}`)&attributes(attributes)
		.section__design
			.container
				.section__design-box
					.section__design-bg(class=`section__design-bg--${type}`)
					.section__design-image(class=`section__design-image--${type}`)
						img(
							src=`../../images/design/section/${type}/back.png`
							srcset=`../../images/design/section/${type}/back@2x.png 2x`
							alt=""
						)
						img(
							src=`../../images/design/section/${type}/front.png`
							srcset=`../../images/design/section/${type}/front@2x.png 2x`
							alt=""
						)

		header.container.section__header
			.section__header-body
				h2.heading.section__heading= title
				.section__desc!= desc
				+score(score).section__score

		.section__main
			if block
				block
			else
				case type
					when 'forums'
						+events(type)
					when 'projects'
						+projects()

		footer.container.section__footer
			+more-link({content: "'Смотреть все'"})
