mixin soc-network()
	.soc-network&attributes(attributes)
		each item in [['vk', 'VK'], ['instagram', 'Instagram'], ['facebook', 'Facebook']]
			a.soc-network__item(
				class=`soc-network__item--${item[0]}`
				href=""
				target="_blank"
				title=item[1]
			)
				icon-svg(name=item[0])
