mixin soc-network(items = ['vk', 'instagram', 'facebook'])
	-
		let networks = {
			vk: 'VK',
			instagram: 'Instagram',
			facebook: 'Facebook',
		};

	.soc-network&attributes(attributes)
		each item in items
			a.soc-network__item(
				class=`soc-network__item--${item}`
				href=""
				target="_blank"
				title=networks[item]
			)
				icon-svg(name=item)
