mixin filters(items)
	nav.filters(
		x-data="filters"
		x-effect="effect"
	)&attributes(attributes)
		.filters__body(
			x-bind:class="{swiper: !$store.isDesktop}"
			x-ref="swiper"
		)
			.filters__wrapper(x-bind:class="{'swiper-wrapper': !$store.isDesktop}")
				each item, index in items
					a.filters__item(
						class={'is-active': index === 0}
						href=""
						x-bind:class="{'swiper-slide': !$store.isDesktop}"
					)
						span.filters__content= item.content
						span.filters__quantity= item.quantity
