mixin infographics()
	-
		const items = [
			{
				title: 'Выигранных грантов',
				number: '12500',
			},
			{
				title: 'Участников ежегодно',
				number: '3500',
			},
			{
				title: 'Выигранных грантов',
				number: '12500',
			},
			{
				title: 'Участников ежегодно',
				number: '3500',
			},
			{
				title: 'Выигранных грантов',
				number: '12500',
			},
			{
				title: 'Участников ежегодно',
				number: '3500',
			},
		];

	section.infographics(x-data="infographics")&attributes(attributes)
		.container
			.infographics__items
				.swiper-container(x-ref="container")
					.swiper-wrapper
						each item in items
							.swiper-slide.infographics__item(x-data="scoreAnimated")
								.infographics__title= item.title
								.infographics__content
									.infographics__number(x-ref="number")= item.number
									.infographics__plus(x-ref="plus") +

			img.infographics__image(
				src="../../images/design/infographics.png"
				srcset="../../images/design/infographics@2x.png 2x"
				alt=""
			)
